<div class="x_panel">
                                <div class="x_title">
                                    <h2><i class="fa fa-bars"></i> Overall Personality <small>analysis</small></h2>
                                    <ul class="nav navbar-right panel_toolbox">
                                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                        </li>
                                        <li><a class="close-link"><i class="fa fa-close"></i></a>
                                        </li>
                                    </ul>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="x_content">
                                    <div data-example-id="togglable-tabs" role="tabpanel" class="">
                                        <ul role="tablist" class="nav nav-tabs bar_tabs" id="myTab">
                                            <li class="active" role="presentation"><a aria-expanded="true" data-toggle="tab" id="body-tab" role="tab" href="#tab_content2">Body</a>
                                            </li>
                                            <li class="" role="presentation"><a aria-expanded="false" data-toggle="tab" id="mind-tab" role="tab" href="#tab_content3">Mind</a>
                                            </li>
											<li class="" role="presentation"><a aria-expanded="false" data-toggle="tab" id="soul-tab" role="tab" href="#tab_content4">Karma</a>
                                            </li>
                                        </ul>
                                        <div class="tab-content" id="myTabContent">
                                            
                                            <div aria-labelledby="body-tab" id="tab_content2" class="tab-pane  active in" role="tabpanel">
                                            <table class="table table-striped responsive-utilities jambo_table bulk_action">
                                        <thead>
                                            <tr class="headings">
                                                <th class="column-title">Source</th>
                                                <th class="column-title">Type</th>
                                                <th class="column-title">Significator</th>
                                                <th class="column-title">Strength</th>
                                                <th class="column-title">Inference</th>
                                            </tr>
										</thead>
										<tbody>
											<tr class="even pointer">
												<td class=" ">Mrighshira</td>
												<td class=" ">Asc Nak</td>
												<td class=" ">Looks and Body</td>
												<td class=" ">High</td>
												<td class=" ">Slim body, height is good</td>
											</tr>
                                            <tr class="odd pointer">
												<td class=" ">Moon</td>
												<td class=" ">Low <i class="fail fa fa-long-arrow-down"></i></td>
												<td class=" ">Low Fertility</td>
												<td class=" ">Imbalanced mind, Directionless</td>
												<td class=" ">Instability</td>
                                            </tr>
                                            <tr class="even pointer">
												<td class=" ">Mars</td>
												<td class=" ">High <i class="success fa fa-long-arrow-up"></i></td>
												<td class=" ">Physical well-built, Healthy body free from diseases </td>
												<td class=" ">Aggression in positive sense, Initiative taking</td>
												<td class=" ">Propogation of ancient science</td>
                                            </tr>
                                            <tr class="odd pointer">
												<td class=" ">Venus</td>
												<td class=" ">High <i class="success fa fa-long-arrow-up"></i></td>
												<td class=" ">Beautiful body</td>
												<td class=" ">Creative, Money minded</td>
												<td class=" ">Enjoy success and comfort</td>
                                            </tr>
                                            <tr class="even pointer">
												<td class=" ">Jupiter</td>
												<td class=" ">Low <i class="fail fa fa-long-arrow-down"></i></td>
												<td class=" ">Obesity</td>
												<td class=" ">Less Spiritual, Wisdom</td>
												<td class=" ">Less interest in learning</td>
                                            </tr>
                                           </tbody>
                                    </table>   
                                            </div>
											
											<div aria-labelledby="mind-tab" id="tab_content3" class="tab-pane fade" role="tabpanel">
                                            <table class="table table-striped responsive-utilities jambo_table bulk_action">
                                        <thead>
                                            <tr class="headings">
                                                <th class="column-title">Planet</th>
                                                <th class="column-title">Strength</th>
                                                <th class="column-title">Body Impact</th>
                                                <th class="column-title">Mind Impact</th>
                                                <th class="column-title">Karmic Impact</th>
                                            </tr>
										</thead>
										<tbody>
											<tr class="even pointer">
												<td class=" ">Sun</td>
												<td class=" ">High <i class="success fa fa-long-arrow-up"></i></td>
												<td class=" ">Higher vitality</td>
												<td class=" ">Ego, Thinking like a king</td>
												<td class=" ">Success, Luck</td>
											</tr>
                                            <tr class="odd pointer">
												<td class=" ">Moon</td>
												<td class=" ">Low <i class="fail fa fa-long-arrow-down"></i></td>
												<td class=" ">Low Fertility</td>
												<td class=" ">Imbalanced mind, Directionless</td>
												<td class=" ">Instability</td>
                                            </tr>
                                            <tr class="even pointer">
												<td class=" ">Mars</td>
												<td class=" ">High <i class="success fa fa-long-arrow-up"></i></td>
												<td class=" ">Physical well-built, Healthy body free from diseases </td>
												<td class=" ">Aggression in positive sense, Initiative taking</td>
												<td class=" ">Propogation of ancient science</td>
                                            </tr>
                                            <tr class="odd pointer">
												<td class=" ">Venus</td>
												<td class=" ">High <i class="success fa fa-long-arrow-up"></i></td>
												<td class=" ">Beautiful body</td>
												<td class=" ">Creative, Money minded</td>
												<td class=" ">Enjoy success and comfort</td>
                                            </tr>
                                            <tr class="even pointer">
												<td class=" ">Jupiter</td>
												<td class=" ">Low <i class="fail fa fa-long-arrow-down"></i></td>
												<td class=" ">Obesity</td>
												<td class=" ">Less Spiritual, Wisdom</td>
												<td class=" ">Less interest in learning</td>
                                            </tr>
                                           </tbody>
                                    </table>   
                                            </div>
											<div aria-labelledby="soul-tab" id="tab_content4" class="tab-pane fade" role="tabpanel">
                                            <table class="table table-striped responsive-utilities jambo_table bulk_action">
                                        <thead>
                                            <tr class="headings">
                                                <th class="column-title">Planet</th>
                                                <th class="column-title">Strength</th>
                                                <th class="column-title">Body Impact</th>
                                                <th class="column-title">Mind Impact</th>
                                                <th class="column-title">Karmic Impact</th>
                                            </tr>
										</thead>
										<tbody>
											<tr class="even pointer">
												<td class=" ">Sun</td>
												<td class=" ">High <i class="success fa fa-long-arrow-up"></i></td>
												<td class=" ">Higher vitality</td>
												<td class=" ">Ego, Thinking like a king</td>
												<td class=" ">Success, Luck</td>
											</tr>
                                            <tr class="odd pointer">
												<td class=" ">Moon</td>
												<td class=" ">Low <i class="fail fa fa-long-arrow-down"></i></td>
												<td class=" ">Low Fertility</td>
												<td class=" ">Imbalanced mind, Directionless</td>
												<td class=" ">Instability</td>
                                            </tr>
                                            <tr class="even pointer">
												<td class=" ">Mars</td>
												<td class=" ">High <i class="success fa fa-long-arrow-up"></i></td>
												<td class=" ">Physical well-built, Healthy body free from diseases </td>
												<td class=" ">Aggression in positive sense, Initiative taking</td>
												<td class=" ">Propogation of ancient science</td>
                                            </tr>
                                            <tr class="odd pointer">
												<td class=" ">Venus</td>
												<td class=" ">High <i class="success fa fa-long-arrow-up"></i></td>
												<td class=" ">Beautiful body</td>
												<td class=" ">Creative, Money minded</td>
												<td class=" ">Enjoy success and comfort</td>
                                            </tr>
                                            <tr class="even pointer">
												<td class=" ">Jupiter</td>
												<td class=" ">Low <i class="fail fa fa-long-arrow-down"></i></td>
												<td class=" ">Obesity</td>
												<td class=" ">Less Spiritual, Wisdom</td>
												<td class=" ">Less interest in learning</td>
                                            </tr>
                                           </tbody>
                                    </table>   
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div> 