         <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">

                            <div class="menu_section">
                                <h3>Admin</h3>
                                <ul class="nav side-menu">
                                    <li><a><i class="fa fa-home"></i> User Analysis <span class="fa fa-chevron-down"></span></a>
                                        <ul class="nav child_menu" style="display: none">
                                            <li><a href="chart_analysis.html">Chart</a>
                                            </li>
                                            <li><a href="house_analysis.html">Houses</a>
                                            </li>
                                            <li><a href="yogas.html">Yogas</a>
                                            </li>
                                            <li><a href="lifestyle.html">Lifestyle</a>
                                            </li>
                                            </li>
                                            <li><a href="zodiac_dasha.html">Zodiac Dashas</a>
                                            </li>
                                            <li><a href="nak_dasha.html">Nakshatra Dashas</a>
                                            </li>
                                            <li><a href="transit.html">Transit</a>
                                            </li>
                                            <li><a href="event_prediction.html">Event Prediction</a>
                                            </li>
                                            <li><a href="references.html">References</a>
                                            </li>

                                        </ul>
                                    </li>
                                    <li><a><i class="fa fa-edit"></i> User Management <span class="fa fa-chevron-down"></span></a>
                                        <ul class="nav child_menu" style="display: none">
                                            <li><a href="new_user.html">Add User</a>
                                            </li>
                                            <li><a href="edit_user.html">Edit User</a>
                                            </li>
                                            <li><a href="delete_user.html">Delete User</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li><a><i class="fa fa-table"></i> Transits <span class="fa fa-chevron-down"></span></a>
                                        <ul class="nav child_menu" style="display: none">
                                            <li><a href="sun_transit.html">Sun</a>
                                            </li>
                                            <li><a href="moon_transit.html">Moon</a>
                                            </li>
                                            <li><a href="mer_transit.html">Mercury</a>
                                            </li>
                                            <li><a href="ven_transit.html">Venus</a>
                                            </li>
                                            <li><a href="mar_transit.html">Mars</a>
                                            </li>
                                            <li><a href="jup_transit.html">Jupiter</a>
                                            </li>
                                            <li><a href="sat_transit.html">Saturn</a>
                                            </li>

                                        </ul>
                                    </li>

                                    <li><a><i class="fa fa-desktop"></i> Settings  <span class="fa fa-chevron-down"></span></a>
                                        <ul class="nav child_menu" style="display: none">
                                            <li><a href="planet_data.html">Planet data</a>
                                            </li>
                                            <li><a href="house_data.html">House data</a>
                                            </li>
                                            <li><a href="zodiac_data.html">Zodiac data</a>
                                            </li>
                                            <li><a href="nakshatra_data.html">Nakshatra data</a>
                                            </li>
                                            <li><a href="prediction_templates.html">Prediction templates</a>
                                            </li>
                                            <li><a href="location_details.html">Location details</a>
                                            </li>
                                        </ul>
                                    </li>


                            </ul>
                            </div>
                        </div>
               