
	<div class="container body">
        
		<div class="main_container">

			<div class="col-md-3 left_col">
			<div ng-include src="'app/vedicAstroApp/partials/left_nav_menu.html'"></div>	
			</div>

			<!-- top navigation -->
			<div class="top_nav">

			<div ng-include src="'app/vedicAstroApp/partials/top_nav_menu.html'"></div>

			</div>
			<!-- /top navigation -->
            
            <div ng-include src="'app/vedicAstroApp/partials/analysis_component_content.html'"></div>

			<!-- page content -->

		</div>

	</div>
