                           <div class="x_panel">
                                <div class="x_title">
                                <div class="row">
                                <div class="col-md-3 col-sm-12 col-xs-12">
                                    <h2><i class="fa fa-bars"></i> House Strengths</h2>
                                </div> 
                                <div class="col-md-2 col-sm-5 col-xs-12 form-group ">
                                <p>    
                        <select class="form-control control-label col-md-1 col-sm-3 col-xs-12" name="chartType">
                                                        <option>Shadbala</option>
                                                        <option>Jaimini</option>
                                                        <option>AV</option>
                                            </select>
                                </p>    
                                </div>
                                <div class="col-md-7 col-sm-12 col-xs-12">        
                                    <ul class="nav navbar-right panel_toolbox">
                                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                        </li>
                                        <li><a class="close-link"><i class="fa fa-close"></i></a>
                                        </li>
                                    </ul>
                                </div>    
                                    <div class="clearfix"></div>
                                </div>
                          </div>
                                                    <div class="x_content">
                                                        
                                                        <div class="col-xs-1">
                                                            <div class="gauge_container">
                                                                <div id="h1_gauge" class="gauge"></div>
                                                            </div>
                                                            <div class="checkbox">
                                                                <label>
                                                                    <input type="radio" value=""> <b>H1</b>
                                                                </label>
                                                            </div>
                                                        </div>
                                                        <div class="col-xs-1">
                                                            <div class="gauge_container">
                                                                <div id="h2_gauge" class="gauge"></div>
                                                            </div>
                                                            <div class="checkbox">
                                                                <label>
                                                                    <input type="radio" value=""> <b>H2</b>
                                                                </label>
                                                            </div>
                                                        </div>
                                                        <div class="col-xs-1">
                                                            <div class="gauge_container">
                                                                <div id="h3_gauge" class="gauge"></div>
                                                            </div>
                                                            <div class="checkbox">
                                                                <label>
                                                                    <input type="radio" value=""> <b>H3</b>
                                                                </label>
                                                            </div>
                                                        </div>
                                                        <div class="col-xs-1">
                                                            <div class="gauge_container">
                                                                <div id="h4_gauge" class="gauge"></div>
                                                            </div>
                                                            <div class="checkbox">
                                                                <label>
                                                                    <input type="radio" value=""> <b>H4</b>
                                                                </label>
                                                            </div>
                                                        </div>
                                                        <div class="col-xs-1">
                                                            <div class="gauge_container">
                                                                <div id="h5_gauge" class="gauge"></div>
                                                            </div>
                                                            <div class="checkbox">
                                                                <label>
                                                                    <input type="radio" value=""> <b>H5</b>
                                                                </label>
                                                            </div>
                                                        </div>
                                                        <div class="col-xs-1">
                                                            <div class="gauge_container">
                                                                <div id="h6_gauge" class="gauge"></div>
                                                            </div>
                                                            <div class="checkbox">
                                                                <label>
                                                                    <input type="radio" value=""> <b>H6</b>
                                                                </label>
                                                            </div>
                                                        </div>
                                                        <div class="col-xs-1">
                                                            <div class="gauge_container">
                                                                <div id="h7_gauge" class="gauge"></div>
                                                            </div>
                                                            <div class="checkbox">
                                                                <label>
                                                                    <input type="radio" value=""> <b>H7</b>
                                                                </label>
                                                            </div>
                                                        </div>
                                                        <div class="col-xs-1">
                                                            <div class="gauge_container">
                                                                <div id="h8_gauge" class="gauge"></div>
                                                            </div>
                                                            <div class="checkbox">
                                                                <label>
                                                                    <input type="radio" value=""> <b>H8</b>
                                                                </label>
                                                            </div>
                                                        </div>
	            				                         <div class="col-xs-1">
                                                            <div class="gauge_container">
                                                                <div id="h9_gauge" class="gauge"></div>
                                                            </div>
                                                            <div class="checkbox">
                                                                <label>
                                                                    <input type="radio" value=""> <b>H9</b>
                                                                </label>
                                                            </div>
                                                        </div>
														<div class="col-xs-1">
                                                            <div class="gauge_container">
                                                                <div id="h10_gauge" class="gauge"></div>
                                                            </div>
                                                            <div class="checkbox">
                                                                <label>
                                                                    <input type="radio" value=""> <b>H10</b>
                                                                </label>
                                                            </div>
                                                        </div>
														<div class="col-xs-1">
                                                            <div class="gauge_container">
                                                                <div id="h11_gauge" class="gauge"></div>
                                                            </div>
                                                            <div class="checkbox">
                                                                <label>
                                                                    <input type="radio" value=""> <b>H11</b>
                                                                </label>
                                                            </div>
                                                        </div>
														<div class="col-xs-1">
                                                            <div class="gauge_container">
                                                                <div id="h12_gauge" class="gauge"></div>
                                                            </div>
                                                            <div class="checkbox">
                                                                <label>
                                                                    <input type="radio" value=""> <b>H12</b>
                                                                </label>
                                                            </div>
                                                        </div>
                                                        <div class="clearfix"></div>
                                                        <table class="table table-bordered">
                                        <thead>
                                            <tr class="headings">
                                                <th class="column-title">Body part</th>
                                                <th class="column-title">Mental setup</th>
                                                <th class="column-title">Accumulate</th>
                                                <th class="column-title">Actions</th>
                                                <th class="column-title">Personality trait</th>
												<th class="column-title">Relationship</th>
									        </tr>
										</thead>
										<tbody>
											<tr class="even pointer">
												<td class=" ">speech, eyes, face, vision, tongue, teeth</td>
												<td class=" ">memory</td>
												<td class=" ">Financial resources, property, jewellery, quality of food</td>
												<td class=" ">Death</td>
												<td class=" ">Family background</td>
												<td class=" ">Family</td>
											</tr>
                                           </tbody>
                                    </table>   

                               </div>
                                                </div>

  <script src="js/raphael-2.1.4.min.js"></script>
        <script src="js/justgage-1.1.0.min.js"></script>

        <script src="js/houses_gauge.js"></script>
<script src="js/custom.js"></script>
       