svg{
    font-family: "Helvetica",sans-serif;
    font-size: 12px;
    font-weight: bold;
}
.zodiac{
    fill: blue;
}
.planet{
    fill: green;
}
.nakshatra{
    fill: magenta;
    font-size: 10px;
}
.arudha{
    fill: purple;
    
}
.longitudes{
    fill: black;
    font-size: 10px;
}
.lord{
    fill: red;
    
}
polygon {
    stroke: black;
    stroke-width: 2;
    fill: white;
}

