

<div class="x_panel" ng-controller="AspectGroupController as vm">

	<div class="x_title">
		<div class="row">
			<div class="col-md-10 col-sm-12 col-xs-12">
				<h2>
					<i class="fa fa-bars"></i> {{vm.templatePanelTitle}}
				</h2>
			</div>
			<div class="col-md-2 col-sm-12 col-xs-12">
				<ul class="nav navbar-right panel_toolbox">
					<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
					</li>
					<li><a class="close-link"><i class="fa fa-close"></i></a></li>
				</ul>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
	<div class="x_content">
		<!-- Smart Wizard -->

		<div id="wizard" class="form_wizard wizard_horizontal">
			<ul class="wizard_steps anchor">
				<li><a rel="{{vm.step1.stepNo}}" isdone="{{vm.step1.isDone}}"
					class="{{vm.step1.status}}" ng-click="vm.gotoStep(1)" href="">
						<span class="step_no">{{vm.step1.stepNo}}</span> <span
						class="step_descr"> {{vm.step1.name}}<br> <small>{{vm.step1.description}}</small>
					</span>
				</a></li>
				<li><a rel="{{vm.step2.stepNo}}" isdone="{{vm.step2.isDone}}"
					class="{{vm.step2.status}}" ng-click="vm.gotoStep(2)" href="">
						<span class="step_no">{{vm.step2.stepNo}}</span> <span
						class="step_descr"> {{vm.step2.name}}<br> <small>{{vm.step2.description}}</small>
					</span>
				</a></li>
			</ul>
			<div class="stepContainer">
				<div style="display: {{vm.step1.style}}" class="wizard_content"
					id="step-1">
					<div class="row">
						<div class="col-md-2 col-sm-12 col-xs-12 form-group"></div>
						<div class="col-md-8 col-sm-12 col-xs-12 form-group">
							<select class="form-control" size=5 ng-model="vm.templateSelected"
								ng-options="template.name for template in vm.predictionTemplates track by template.code">
							</select>
						</div>
						<div class="col-md-2 col-sm-12 col-xs-12 form-group"></div>
					</div>
					<div class="row">
						<div class="col-md-2 col-sm-12 col-xs-12 form-group"></div>
						<div class="col-md-2 col-sm-12 col-xs-12 form-group">
							<div class="form-group">
								<input type="text" name="cat1" id="cat1" class="form-control"
									ng-model="vm.parentSelected.code" required placeholder="Code" />
							</div>
						</div>
						<div class="col-md-6 col-sm-12 col-xs-12 form-group">
							<div class="form-group">
								<input type="text" name="cat1" id="cat1" class="form-control"
									ng-model="vm.parentSelected.name" required placeholder="Name" />
							</div>
						</div>
						<div class="col-md-2 col-sm-12 col-xs-12 form-group"></div>
					</div>
					<div class="row">
						<div class="col-md-2 col-sm-12 col-xs-12 form-group"></div>
						<div class="col-md-8 col-sm-12 col-xs-12 form-group">
							<button class="btn btn-round btn-primary" type="button"
								ng-click="vm.addParentAspect(vm.parentSelected.code, vm.parentSelected.name)">Add</button>
							<button class="btn btn-round btn-primary" type="button"
								ng-click="vm.updateParentAspect(vm.parentSelected.code, vm.parentSelected.name, vm.parentSelected.id)">Update</button>
							<button class="btn btn-round btn-primary" type="button"
								ng-click="vm.deleteParentAspect(vm.parentSelected.id)">Delete</button>
						</div>
						<div class="col-md-2 col-sm-12 col-xs-12 form-group"></div>
					</div>
				</div>
				<div style="display: {{vm.step2.style}}" class="wizard_content"
					id="step-2">
					<h4 class="StepTitle">{{vm.step2.title}}</h4>
					<div class="row">
					<div class="col-md-2 col-sm-12 col-xs-12 form-group"></div>
						<div class="col-md-8 col-sm-12 col-xs-12 form-group">
							<table class="table table-striped table-bordered">
								<tbody>
									<tr ng-repeat="aspect in vm.aspectsSelected">
										<td scope="row">{{aspect.path}}</td>
										<td scope="row"><input type="checkbox" ng-model="aspect.selected" ></td>
									</tr>
									
								</tbody>
							</table>
						</div>
						<div class="col-md-2 col-sm-12 col-xs-12 form-group"></div>
					</div>
				</div>
			</div>
			<div class="actionBar">
				<a class="btn btn-default {{vm.finishButton}}"
					ng-click="vm.finish()" href="">Finish</a><a
					class="btn btn-success {{vm.nextButton}}" ng-click="vm.gotoNext()"
					href="">Next</a><a class="btn btn-primary {{vm.previousButton}}"
					ng-click="vm.gotoPrevious()" href="">Previous</a>
			</div>
		</div>
		<!-- End SmartWizard Content -->
	</div>
</div>

<script src="js/jquery.min.js"></script>
<script src="js/panelwidget.js"></script>

