

<div class="x_panel" ng-controller="AnalysisComponentController as vm">

	<div class="x_title">
		<div class="row">
			<div class="col-md-10 col-sm-12 col-xs-12">
				<h2>
					<i class="fa fa-bars"></i> {{vm.panelTitle}}
				</h2>
			</div>
			<div class="col-md-2 col-sm-12 col-xs-12">
				<ul class="nav navbar-right panel_toolbox">
					<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
					</li>
					<li><a class="close-link"><i class="fa fa-close"></i></a></li>
				</ul>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
	<div class="x_content">
		<!-- Smart Wizard -->

		<div id="wizard" class="form_wizard wizard_horizontal">
			<ul class="wizard_steps anchor">
				<li><a rel="{{vm.step1.stepNo}}" isdone="{{vm.step1.isDone}}"
					class="{{vm.step1.status}}" ng-click="vm.gotoStep(1)" href="">
						<span class="step_no">{{vm.step1.stepNo}}</span> <span
						class="step_descr"> {{vm.step1.name}}<br> <small>{{vm.step1.description}}</small>
					</span>
				</a></li>
				<li><a rel="{{vm.step2.stepNo}}" isdone="{{vm.step2.isDone}}"
					class="{{vm.step2.status}}" ng-click="vm.gotoStep(2)" href="">
						<span class="step_no">{{vm.step2.stepNo}}</span> <span
						class="step_descr"> {{vm.step2.name}}<br> <small>{{vm.step2.description}}</small>
					</span>
				</a></li>
			</ul>
			<div class="stepContainer">
				<div style="display: {{vm.step1.style}}" class="wizard_content"
					id="step-1">
					<div class="row">
						<div class="col-md-3 col-sm-12 col-xs-12 form-group"></div>
						<div class="col-md-5 col-sm-12 col-xs-12 form-group">
							<select class="form-control" ng-model="vm.analysisGroupSelected"
					            ng-change="vm.getComponents(vm.analysisGroupSelected.code)"
								ng-options="analysisGroup.name for analysisGroup in vm.analysisGroups track by analysisGroup.code">
							</select>
						</div>
						<div class="col-md-4 col-sm-12 col-xs-12 form-group"></div>
					</div>

					<div class="row">
						<div class="col-md-3 col-sm-12 col-xs-12 form-group"></div>
						<div class="col-md-5 col-sm-12 col-xs-12 form-group">
							<select class="form-control" size=5 ng-model="vm.componentSelected"
								ng-selected="vm.componentSelected.code"
								ng-options="component.name for component in vm.analysisComponents track by component.code">
							</select>
						</div>
						<div class="col-md-4 col-sm-12 col-xs-12 form-group"></div>
					</div>
						<div class="row">
							<div class="col-md-3 col-sm-12 col-xs-12 form-group"></div>
							<div class="col-md-2 col-sm-12 col-xs-12 form-group">
								<div class="form-group">
									<input type="text" name="cat1" id="cat1" class="form-control"
										ng-model="vm.newComponent.code" required placeholder="Code" />
								</div>
							</div>
							<div class="col-md-3 col-sm-12 col-xs-12 form-group">
								<div class="form-group">
									<input type="text" name="cat1" id="cat1" class="form-control"
										ng-model="vm.newComponent.name" required placeholder="Name" />
								</div>
							</div>
							<div class="col-md-2 col-sm-12 col-xs-12 form-group">
								<div class="form-group">
									<a href="" ng-click="vm.addComponent(vm.newComponent, vm.analysisGroupSelected.code)"><i
										class="fa fa-plus-square fa-2x"></i></a>
								</div>
							</div>
							<div class="col-md-1 col-sm-12 col-xs-12 form-group"></div>
						</div>
						<div class="row">
							<div class="col-md-3 col-sm-12 col-xs-12 form-group"></div>
							<div class="col-md-2 col-sm-12 col-xs-12 form-group">
								<div class="form-group">
									<input type="text" name="cat1" id="cat1" class="form-control"
										ng-model="vm.componentSelected.code" required
										placeholder="Code" readonly />
								</div>
							</div>
							<div class="col-md-3 col-sm-12 col-xs-12 form-group">
								<div class="form-group">
									<input type="text" name="cat2" id="cat2" class="form-control"
										ng-model="vm.componentSelected.name" required
										placeholder="Name" />
								</div>
							</div>
							<div class="col-md-4 col-sm-12 col-xs-12 form-group">
								<a href="" ng-click="vm.saveComponent(vm.componentSelected)"><i
									class="fa fa-check-square fa-2x"></i></a> <a href=""
									ng-click="vm.deleteComponent(vm.componentSelected)"><i
									class="fa fa-minus-square fa-2x"></i></a>
							</div>

						</div>
					</div>
				</div>
				<div style="display: {{vm.step2.style}}" class="wizard_content"
					id="step-2">
					<h4 class="StepTitle">{{vm.step2.title}}</h4>
					<div class="row">
						<div class="col-md-1 col-sm-12 col-xs-12 form-group"></div>
						<div class="col-md-10 col-sm-12 col-xs-12 form-group">
							<table class="table table-striped responsive-utilities jambo_table bulk_action">
								<thead>
									<tr class="headings">
										<th class="column-title" ng-repeat="heading in vm.componentHeadings">{{heading}}</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="component in vm.analysisComponents">
										<td scope="row">{{component.name}}</td>
										<td scope="row"><input type="text" name="cat1" id="cat1" class="form-control"
										ng-model="component.conditionChecked" required placeholder="Add condition" /></td>
										<td scope="row">
										<select class="form-control" ng-model="component.predictionTemplate"
					                       ng-change="vm.getOutcomes(component.code, component.predictionTemplate.code)"
					                       ng-options="predictionTemplate.name for predictionTemplate in vm.predictionTemplates track by predictionTemplate.code">
										</select>
							            </td>
							            <td scope="row">
							            <div ng-repeat="outcome in component.predictionOutcomes track by $index">
  											{{outcome.name}}
										</div>
										</td>
										<td scope="row">
										<input type="checkbox" ng-model="component.enabled" >
										</td>		
									</tr>

								</tbody>
							</table>
						</div>
						<div class="col-md-1 col-sm-12 col-xs-12 form-group"></div>
					</div>
				</div>
			</div>
			<div class="actionBar">
				<a class="btn btn-default {{vm.finishButton}}"
					ng-click="vm.finish(vm.analysisComponents)" href="">Finish</a><a
					class="btn btn-success {{vm.nextButton}}" ng-click="vm.gotoNext()"
					href="">Next</a><a class="btn btn-primary {{vm.previousButton}}"
					ng-click="vm.gotoPrevious()" href="">Previous</a>
			</div>
		</div>
		<!-- End SmartWizard Content -->
	</div>
</div>
