<div class="x_panel">
	<div class="x_title">
		<div class="row">
			<div class="col-md-3 col-sm-12 col-xs-12">
				<h2>
					<i class="fa fa-bars"></i> House
				</h2>
			</div>
			<div class="col-md-3 col-sm-5 col-xs-12 form-group ">
				<p>
					<select
						class="form-control control-label col-md-2 col-sm-3 col-xs-12"
						name="chartType">
						<option>H1</option>
						<option>H2</option>
						<option>H3</option>
						<option>H4</option>
						<option>H5</option>
						<option>H6</option>
						<option>H7</option>
						<option>H8</option>
						<option>H9</option>
						<option>H10</option>
						<option>H11</option>
						<option>H12</option>
					</select>
				</p>
			</div>
			<div class="col-md-6 col-sm-12 col-xs-12">
				<ul class="nav navbar-right panel_toolbox">
					<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
					</li>
					<li><a class="close-link"><i class="fa fa-close"></i></a></li>
				</ul>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
	<div class="x_content">

		<div class="col-xs-9">
			<!-- Tab panes -->
			<div class="tab-content">
				<div id="significance-r" class="tab-pane active">

					<p>House of Marriage & Business partners</p>
				</div>
				<div id="relationship-r" class="tab-pane">
					<table
						class="table table-striped responsive-utilities jambo_table bulk_action">
						<tbody>
							<tr class="even pointer">
								<td class=" ">Lord of the House</td>
								<td class=" ">Sun</td>
							</tr>
							<tr class="odd pointer">
								<td class=" ">Zodiac</td>
								<td class=" ">ARE</td>
							</tr>
							<tr class="even pointer">
								<td class=" ">Inhabitants</td>
								<td class=" ">VEN, RAH</i></td>
							</tr>
							<tr class="odd pointer">
								<td class=" ">Aspects</td>
								<td class=" ">JUP</i></td>
							</tr>
							<tr class="even pointer">
								<td class=" ">Karaka</td>
								<td class=" ">JUP</td>
							</tr>
							<tr class="odd pointer">
								<td class=" ">Nak</td>
								<td class=" ">Rohini</td>
							</tr>
							<tr class="even pointer">
								<td class=" ">Lord of House In</td>
								<td class=" ">H5</td>
							</tr>
						</tbody>
					</table>


				</div>
				<div id="health-r" class="tab-pane">
					<table
						class="table table-striped responsive-utilities jambo_table bulk_action">
						<tbody>
							<tr class="even pointer">
								<td class=" ">Shadbala strength</td>
								<td class=" ">45</td>
								<td class=" ">Good</td>
							</tr>
							<tr class="odd pointer">
								<td class=" ">Ashtavarga strength</td>
								<td class=" ">18</td>
								<td class=" ">Low</td>
							</tr>
							<tr class="odd pointer">
								<td class=" ">Jaimini strength</td>
								<td class=" ">18</td>
								<td class=" ">Low</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>

		<div class="col-xs-3">
			<!-- required for floating -->
			<!-- Nav tabs -->
			<ul class="nav nav-tabs tabs-right">
				<li class="active"><a data-toggle="tab" href="#significance-r"
					aria-expanded="true">Significance</a></li>
				<li class=""><a data-toggle="tab" href="#relationship-r"
					aria-expanded="false">Relationships</a></li>
				<li class=""><a data-toggle="tab" href="#health-r"
					aria-expanded="false">Health</a></li>
			</ul>
		</div>

	</div>

</div>
