
<div class="x_panel" ng-controller="EntityController as vm">
 <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</uib-alert>
	<div class="x_title">
		<div class="row">
			<div class="col-md-5 col-sm-12 col-xs-12">
				<h2>
					<i class="fa fa-bars"></i> {{vm.panelTitle}}
				</h2>
			</div>
			<div class="col-md-5 col-sm-5 col-xs-12 top_search">
				<div class="input-group">
					<input type="text" ng-model="selected"
						uib-typeahead="member as member.name for member in members | filter:$viewValue | limitTo:8"
						class="form-control" placeholder="Search .. "> <span
						class="input-group-btn">
						<button class="btn btn-default" type="button" ng-click="vm.loadMember(selected.id)">Go!</button>
					</span>
				</div>
			</div>
			<div class="col-md-2 col-sm-12 col-xs-12">
				<ul class="nav navbar-right panel_toolbox">
					<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
					</li>
					<li><a class="close-link"><i class="fa fa-close"></i></a></li>
				</ul>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
	<div class="x_content">
		<br>
		<form class="form-horizontal form-label-left input_mask">
			<div class="row">
				<div class="col-md-2 col-sm-6 col-xs-12"></div>
				<div class="col-md-8 col-sm-6 col-xs-12 form-group has-feedback">
					<input class="form-control has-feedback-right" id="inputSuccess1"
						placeholder="Entity Name" type="text"
						ng-model="vm.member.firstName"> <span
						class="fa fa-users form-control-feedback right" aria-hidden="true"></span>
				</div>
				<div class="col-md-2 col-sm-6 col-xs-12"></div>
			</div>
			<div class="row">
				<div class="col-md-2 col-sm-6 col-xs-12"></div>
				<div class="col-md-2 col-sm-6 col-xs-12 form-group has-feedback">
					<div class="radio">
						<label> <input type="radio" name="optionsRadios"
							value="Country" ng-model="vm.member.memberType" checked=""> Country
						</label>
					</div>
				</div>
				<div class="col-md-2 col-sm-6 col-xs-12 form-group has-feedback">
					<div class="radio">
						<label> <input type="radio" name="optionsRadios"
							value="Organization" ng-model="vm.member.memberType" > Organization
						</label>
					</div>
				</div>
				<div class="col-md-6 col-sm-6 col-xs-12"></div>
			</div>
			<div class="row">
				<div class="col-md-2 col-sm-6 col-xs-12"></div>
				<div class="col-md-8 col-sm-6 col-xs-12">
					<div class='input-group date' id='datetimepicker1'>
					<input class="form-control" id="inputSuccess3"
						type="text" ng-model="vm.member.dob" />
						<span class="input-group-addon"> <span
							class="glyphicon glyphicon-calendar"></span>
						</span>
					</div>
				</div>
				<div class="col-md-2 col-sm-6 col-xs-12"></div>
			</div>

			<div class="row">
				<div class="col-md-2 col-sm-6 col-xs-12"></div>
				<div class="col-md-8 col-sm-6 col-xs-12 form-group has-feedback">
					<select class="form-control" ng-model="vm.member.country"
						ng-options="country.name for country in vm.countries track by country.code">
					</select>
				</div>
				<div class="col-md-2 col-sm-6 col-xs-12"></div>
			</div>
			<div class="row">
				<div class="col-md-2 col-sm-6 col-xs-12"></div>
				<div class="col-md-8 col-sm-6 col-xs-12 form-group has-feedback">
					<select class="form-control" ng-model="vm.member.city"
						ng-options="city.name for city in vm.cities track by city.code">
					</select>
				</div>
				<div class="col-md-2 col-sm-6 col-xs-12"></div>
			</div>
			<div class="row">
				<div class="col-md-2 col-sm-6 col-xs-12"></div>
				<div class="col-md-2 col-sm-6 col-xs-12 form-group has-feedback">
					<div class="radio">
						<label> <input type="radio" name="activeMember"
							value="N" checked="" ng-model="vm.member.blocked"> Active
						</label>
					</div>
				</div>
				<div class="col-md-2 col-sm-6 col-xs-12 form-group has-feedback">
					<div class="radio">
						<label> <input type="radio" name="activeMember"
							value="Y" ng-model="vm.member.blocked"> Blocked
						</label>
					</div>
				</div>
				<div class="col-md-6 col-sm-6 col-xs-12"></div>
			</div>
			<div class="ln_solid"></div>
			<div class="form-group">
				<div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
					<button type="submit" class="btn btn-primary" ng-click="vm.cancel()">Cancel</button>
					<button type="submit" class="btn btn-success" ng-click="vm.saveMember(vm.member)">Submit</button>
				</div>
			</div>
		</form>
	</div>
</div>
<script src="js/jquery.min.js"></script>
<script src="js/panelwidget.js"></script>

