
<div class="x_panel" ng-controller="AdminController as vm">
	<uib-alert ng-repeat="alert in alerts" type="{{alert.type}}"
		close="closeAlert($index)">{{alert.msg}}</uib-alert>
	<div class="x_title">
		<div class="row">
			<div class="col-md-5 col-sm-12 col-xs-12">
				<h2>
					<i class="fa fa-bars"></i> {{vm.panelTitle}}
				</h2>
			</div>
			<div class="col-md-5 col-sm-5 col-xs-12 top_search">
				<div class="input-group">
					<input type="text" ng-model="selected"
						uib-typeahead="admin as admin.name for admin in admins | filter:$viewValue | limitTo:8"
						class="form-control" placeholder="Search .. "> <span
						class="input-group-btn">
						<button class="btn btn-default" type="button"
							ng-click="vm.loadAdmin(selected.id)">Go!</button>
					</span>
				</div>
			</div>
			<div class="col-md-2 col-sm-12 col-xs-12">
				<ul class="nav navbar-right panel_toolbox">
					<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
					</li>
					<li><a class="close-link"><i class="fa fa-close"></i></a></li>
				</ul>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
	<div class="x_content">
		<br>
		<form class="form-horizontal form-label-left input_mask">
			<div class="row">
				<div class="col-md-2 col-sm-6 col-xs-12"></div>
				<div class="col-md-8 col-sm-6 col-xs-12 form-group has-feedback">
					<input class="form-control has-feedback-right" id="inputSuccess1"
						placeholder="First Name" type="text" ng-model="vm.admin.firstName">
					<span class="fa fa-user form-control-feedback right"
						aria-hidden="true"></span>
				</div>
				<div class="col-md-2 col-sm-6 col-xs-12"></div>
			</div>
			<div class="row">
				<div class="col-md-2 col-sm-6 col-xs-12"></div>
				<div class="col-md-8 col-sm-6 col-xs-12 form-group has-feedback">
					<input class="form-control has-feedback-right" id="inputSuccess2"
						placeholder="Last Name" type="text" ng-model="vm.admin.lastName">
					<span class="fa fa-user form-control-feedback right"
						aria-hidden="true"></span>
				</div>
				<div class="col-md-2 col-sm-6 col-xs-12"></div>
			</div>
			<div class="row">
				<div class="col-md-2 col-sm-6 col-xs-12"></div>
				<div class="col-md-8 col-sm-6 col-xs-12 form-group has-feedback">
					<input class="form-control has-feedback-right"
						placeholder="Email / Username" type="text"
						ng-model="vm.admin.email"> <span
						class="fa fa-lock form-control-feedback right" aria-hidden="true"></span>
				</div>
				<div class="col-md-2 col-sm-6 col-xs-12"></div>
			</div>
			<div class="row">
				<div class="col-md-2 col-sm-6 col-xs-12"></div>
				<div class="col-md-8 col-sm-6 col-xs-12 form-group has-feedback">
					<input class="form-control has-feedback-right" id="inputSuccess2"
						placeholder="Password" type="password"
						ng-model="vm.admin.password"> <span
						class="fa fa-key form-control-feedback right" aria-hidden="true"></span>
				</div>
				<div class="col-md-2 col-sm-6 col-xs-12"></div>
			</div>
			<div class="row">
				<div class="col-md-2 col-sm-6 col-xs-12"></div>
				<div class="col-md-8 col-sm-6 col-xs-12 form-group has-feedback">
					<input class="form-control" placeholder="Phone" type="text"
						ng-model="vm.admin.contact"> <span
						class="fa fa-phone form-control-feedback right" aria-hidden="true"></span>
				</div>
				<div class="col-md-2 col-sm-6 col-xs-12"></div>
			</div>
			<br>
			<div class="row">
			    <div class="col-md-2 col-sm-6 col-xs-12"></div>
				<div class="col-md-4 col-sm-12 col-xs-12">
					<p> <u>Accessible modules</u> </p>
				</div>
				<div class="col-md-6 col-sm-6 col-xs-12"></div>
			</div>
			<div class="row">
			    <div class="col-md-2 col-sm-6 col-xs-12"></div>
				<div class="col-md-3 col-sm-12 col-xs-12">
					<p> <input type="checkbox" value="checked">
						Prashar
					</p>
				</div>
				<div class="col-md-3 col-sm-12 col-xs-12">
					<p> <input type="checkbox" value="checked">
						Jaimini
					</p>
				</div>
				<div class="col-md-2 col-sm-12 col-xs-12">
					<p> <input type="checkbox" value="checked"> KP
					</p>
				</div>
				<div class="col-md-2 col-sm-6 col-xs-12"></div>
			</div>
		<div class="row">
			    <div class="col-md-2 col-sm-6 col-xs-12"></div>
				<div class="col-md-3 col-sm-12 col-xs-12">
					<p> <input type="checkbox" value="checked">
						Ashtavarga
					</p>
				</div>
				<div class="col-md-3 col-sm-12 col-xs-12">
					<p> <input type="checkbox" value="checked">
						Tajika
					</p>
				</div>
				<div class="col-md-2 col-sm-12 col-xs-12">
					<p> <input type="checkbox" value="checked"> UM
					</p>
				</div>
				<div class="col-md-2 col-sm-6 col-xs-12"></div>
			</div>
			<br>			
			<div class="row">
				<div class="col-md-2 col-sm-6 col-xs-12"></div>
				<div class="col-md-2 col-sm-6 col-xs-12 form-group has-feedback">
					<div class="radio">
						<label> <input type="radio" name="activeMember" value="N"
							checked="" ng-model="vm.admin.blocked"> Active
						</label>
					</div>
				</div>
				<div class="col-md-2 col-sm-6 col-xs-12 form-group has-feedback">
					<div class="radio">
						<label> <input type="radio" name="activeMember" value="Y"
							ng-model="vm.admin.blocked"> Blocked
						</label>
					</div>
				</div>
				<div class="col-md-6 col-sm-6 col-xs-12"></div>
			</div>
			<div class="ln_solid"></div>
			<div class="form-group">
				<div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
					<button type="submit" class="btn btn-primary"
						ng-click="vm.cancel()">Cancel</button>
					<button type="submit" class="btn btn-success"
						ng-click="vm.saveAdmin(vm.admin)">Submit</button>
				</div>
			</div>
		</form>
	</div>
</div>
<script src="js/jquery.min.js"></script>
<script src="js/panelwidget.js"></script>

