
<div class="x_panel" ng-controller="NatalChartController as vm">
	<div class="x_title">
		<h2>
			<i class="fa fa-bars"></i>{{vm.panelTitle}}
		</h2>
		<ul class="nav navbar-right panel_toolbox">
			<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
			</li>
			<li><a class="close-link"><i class="fa fa-close"></i></a></li>
		</ul>
		<div class="clearfix"></div>
	</div>
	<div class="x_content">
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div id="natal_chart_panel"></div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3 col-sm-12 col-xs-12">
				<label> <input type="checkbox" value="checked"> Nak
				</label>
			</div>
			<div class="col-md-3 col-sm-12 col-xs-12">
				<label> <input type="checkbox" value="checked">
					Zodiac
				</label>
			</div>
			<div class="col-md-3 col-sm-12 col-xs-12">
				<label> <input type="checkbox" value="checked">
					Planets
				</label>
			</div>
			<div class="col-md-3 col-sm-12 col-xs-12">
				<label> <input type="checkbox" value="checked"> Lord
				</label>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3 col-sm-12 col-xs-12">
				<label> <input type="checkbox" value="checked">
					Argala
				</label>
			</div>
			<div class="col-md-3 col-sm-12 col-xs-12">
				<label> <input type="checkbox" value="checked">
					Arudha
				</label>
			</div>
			<div class="col-md-3 col-sm-12 col-xs-12">
				<label> <input type="checkbox" value="checked"> KL
				</label>
			</div>
			<div class="col-md-3 col-sm-12 col-xs-12">
				<label> <input type="checkbox" value="checked"> CK
				</label>
			</div>
		</div>

		<div class="row">
			<div class="col-md-4 col-sm-12 col-xs-12">
				<label> <input type="checkbox" value="checked">
					Planet aspects
				</label>
			</div>
			<div class="col-md-4 col-sm-12 col-xs-12">
				<label> <input type="checkbox" value="checked">
					Zodiac aspects
				</label>
			</div>
			<div class="col-md-4 col-sm-12 col-xs-12">
				<label> <input type="checkbox" value="checked">Long
				</label>
			</div>

		</div>

	</div>
</div>

<script src="js/d3.min.js"></script>


