
             <!-- page content -->
                <div class="right_col" role="main">
                <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                    <div ng-include src="'app/vedicAstroApp/partials/birth_details_panel.html'"></div>
                            </div></div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                           <div ng-include src="'app/vedicAstroApp/partials/planetary_strengths_panel.html'"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                           <div ng-include src="'app/vedicAstroApp/partials/house_strengths_panel.html'"></div>
                        </div>
                    </div>
                    <div class="row">
                           <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="row">
                                <!-- Start to do list -->
                                <div class="col-md-5 col-sm-6 col-xs-12">
                                    <div ng-include src="'app/vedicAstroApp/partials/natal_chart_panel.html'"></div>
                                </div>
                                <!-- End to do list -->
                                <!-- start of weather widget -->
                                <div class="col-md-7 col-sm-6 col-xs-12">
                                    <div ng-include src="'app/vedicAstroApp/partials/analysis_result_panel.html'"></div>
                                    <div ng-include src="'app/vedicAstroApp/partials/person_profile_panel.html'"></div>
                                </div>
                                <!-- end of weather widget -->
                            </div>
                        </div>
                    </div>
                    <!-- footer content -->
                    <footer>
                        <div class="">
                            <p class="pull-right">Vedic Astro! one place for all astrological investigation <a>Samlabs</a>. |
                                <span class="lead"> <i class="fa fa-paw"></i> Vedic-Astro!</span>
                            </p>
                        </div>
                        <div class="clearfix"></div>
                    </footer>
                    <!-- /footer content -->
                <!-- /page content -->
            </div>
 
            