<div class="x_panel" ng-controller="ZodDashaCalcController as vm">
	<div class="x_title">
		<div class="row">
			<div class="col-md-3 col-sm-12 col-xs-12">
				<h2>
					<i class="fa fa-bars"></i> {{vm.panelTitle}}
				</h2>
			</div>
			<div class="col-md-3 col-sm-5 col-xs-12">
				<p>
					<select class="form-control" ng-model="vm.zodDashaSelected"
					   ng-change="vm.changeInput()"
						ng-options="zodDasha.name for zodDasha in vm.zodDashaOptions track by zodDasha.code">
					</select>
				</p>
			</div>
			<div class="col-md-3 col-sm-12 col-xs-12 form-group">
				<p class="input-group">
					<input type="text" readonly=true class="form-control"
						uib-datepicker-popup="{{vm.format}}" ng-model="vm.dt"
						is-open="vm.popup1.opened" min-date="vm.minDate"
						max-date="vm.maxDate" datepicker-options="vm.dateOptions"
						ng-required="true"
						close-text="Close" alt-input-formats="vm.altInputFormats" ng-change="vm.changeInput()"/> <span
						class="input-group-btn" >
						<button type="button" class="btn btn-default"
							ng-click="vm.open1()">
							<i class="glyphicon glyphicon-calendar"></i>
						</button>
					</span>
				</p>
			</div>
			<div class="col-md-3 col-sm-12 col-xs-12">
				<ul class="nav navbar-right panel_toolbox">
					<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
					</li>
					<li><a class="close-link"><i class="fa fa-close"></i></a></li>
				</ul>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
	<div class="x_content">
		<br>
		<div class="row">
			<div class="col-md-3 col-sm-6 col-xs-12">
				<h5>
					<b>{{vm.mainPeriodSelected.startDate}} -
						{{vm.mainPeriodSelected.endDate}}</b>
				</h5>
			</div>
			<div class="col-md-9 col-sm-6 col-xs-12">
				<div data-toggle="buttons" class="btn-group">
					<label ng-repeat="mainPeriod in vm.mainPeriods"
						class="btn {{vm.evaluateCurrentOrDefault(mainPeriod.current)}}"
						ng-click="vm.changeMainPeriodZodiac(mainPeriod)"> <input
						type="radio">{{mainPeriod.zodiac}}
					</label>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3 col-sm-6 col-xs-12">
				<h5>
					<b>{{vm.subPeriodSelected.startDate}} -
						{{vm.subPeriodSelected.endDate}}</b>
				</h5>
			</div>
			<div class="col-md-9 col-sm-6 col-xs-12">
				<div data-toggle="buttons" class="btn-group">
					<label ng-repeat="subPeriod in vm.subPeriods"
						class="btn {{vm.evaluateCurrentOrDefault(subPeriod.current)}}"
						ng-click="vm.changeSubPeriodZodiac(subPeriod)">
						<input type="radio">{{subPeriod.zodiac}}
					</label>
				</div>
			</div>
		</div>
		<br>
	</div>
</div>
